<app-loading *ngIf="loading" class="mt-2" ></app-loading>

<div class="container mt-1">
  <div class="row">
    <div class="col-md-3">
      <img [src]="artista.images | sinfoto" class="img-circle img-thumbnail mt-1 text-lefht">
    </div>
    <div class="text-right col-md-9">
        <h1>{{ artista.name }} </h1>
        <hr>
        <a [href]="artista.external_urls?.spotify" target="_blank" [routerLink]="['/search']" class="btn btn-outline-danger"> Volver </a>
        <input type="button" value="Spotify" class="btn btn-outline-success">
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-md-12">
        <table class="table table-dark">
            <thead>
              <tr>
                <th>#</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Popularidad</th>
                <th>Escuchar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pista of pistas; let i = index" >
                <td> {{ i + 1 }}</td>
                <td> 
                  <img class="img-50" [src]="pista.album.images | sinfoto" >
                </td>
                <td> {{ pista.name }}</td>
                <td> {{ pista.popularity }}%</td>
                <td>
                  <!-- Forma de hacerlo con HTML5 -->
                  <!-- <audio controls>
                    <source [src]="pista.preview_url">
                    Tu navegador es muy viejo
                  </audio> -->
                  <iframe [src]="pista.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>



